In [59]:
import pandas as pd

In [60]:
df = pd.read_excel("576 exterior colours.xlsx")

df1 = pd.read_excel('128 Interior Colours.xlsx')

In [61]:
df1

     Colour Number       Colour Name   NCS Number    R    G    B
0             1017             PEACH  S1020-Y20R   237  205  161
1              486        EARLY RAIN   0702-Y35R   234  231  220
2            10001      DIJON YELLOW  S4030-Y20R   169  130   89
3             1359         MACCHIATO  S2005-Y40R   206  193  177
4             8281       PALE LINDEN  S2005-G70Y   199  198  182
..             ...               ...          ...  ...  ...  ...
123           8583     EARTHY YELLOW   2217-G98Y   205  188  148
124          20218  HEALING LAVENDER   3904-Y95R   165  157  154
125          12290     ANTWERP BEIGE   3105-Y25R   185  175  159
126           7685      SUBTLE GREEN  S3010-G40Y   171  175  155
127           8596       SUNNY GREEN   1810-G73Y   208  204  177

[128 rows x 6 columns]

In [62]:
df = pd.concat([df, df1], ignore_index=True)

In [63]:
df

     Colour Number       Colour Name   NCS Number    R    G    B
0             1731       GINGER MIST   0805-Y35R   238  224  207
1            10399               NaN   1003-Y45R   232  225  214
2             2799       BROWN SUGAR   1710-Y69R   218  193  180
3             2798               RAW   0904-Y59R   232  224  214
4             2787        ROSE WATER   0905-Y54R   235  223  210
..             ...               ...          ...  ...  ...  ...
699           8583     EARTHY YELLOW   2217-G98Y   205  188  148
700          20218  HEALING LAVENDER   3904-Y95R   165  157  154
701          12290     ANTWERP BEIGE   3105-Y25R   185  175  159
702           7685      SUBTLE GREEN  S3010-G40Y   171  175  155
703           8596       SUNNY GREEN   1810-G73Y   208  204  177

[704 rows x 6 columns]

In [64]:
df["Hex"] = df.apply(lambda row: f"#{row['R']:02X}{row['G']:02X}{row['B']:02X}", axis=1)

In [65]:
df.sort_values(by='Colour Number')

     Colour Number       Colour Name  NCS Number    R    G    B      Hex
438            113       GREEN BRUME  4011-G99Y   164  153  131  #A49983
407            115             FLINT  5301-R64B   133  134  133  #858685
406            117         DOVE GREY  3101-Y26R   178  177  174  #B2B1AE
395            118     PERSIAN PEARL  0811-Y16R   242  226  193  #F2E2C1
405            121             PEARL  1501-Y03R   214  213  206  #D6D5CE
..             ...               ...         ...  ...  ...  ...      ...
685          20167     WELCOMING RED  4429-Y72R   160  108   94  #A06C5E
687          20186    LAVENDER TOUCH  2904-Y74R   187  178  173  #BBB2AD
694          20208        POETRY RED  4335-Y79R   155   97   86  #9B6156
698          20217       MUTED CORAL  3234-Y69R   187  125  105  #BB7D69
700          20218  HEALING LAVENDER  3904-Y95R   165  157  154  #A59D9A

[704 rows x 7 columns]

In [66]:
def hex_to_int(hex_value):
    return int(hex_value.strip('#'), 16)

df['Hex_Int'] = df['Hex'].apply(hex_to_int)

# Sort by the new integer column
df_sorted = df.sort_values(by='Hex_Int', ascending=False)

# Drop the Hex_Int column if you don't need it
df_sorted = df_sorted.drop(columns=['Hex_Int'])

# Show the sorted DataFrame
df_sorted

     Colour Number      Colour Name   NCS Number    R    G    B      Hex
459           1626             ZEST     S0515-Y   251  234  190  #FBEABE
394           1155    BUTTERY CREAM   0618-Y11R   251  226  176  #FBE2B0
32            1154        OLD CREAM  S0510-Y10R   250  234  197  #FAEAC5
362           1188          UNICORN   0611-Y31R   250  227  196  #FAE3C4
88            2121      FLORAL PINK  S0510-Y60R   250  225  208  #FAE1D0
..             ...              ...          ...  ...  ...  ...      ...
36            4489      MARINE BLUE  S5540-R90B    30   82  109  #1E526D
444           6029     DEEP EMERALD   3049-B50G    18  150  142  #12968E
280           5116              NaN     S4050-B     2  113  142  #02718E
331            597        BLUE DOME      2959-B     0  125  160  #007DA0
281           6242  MIDNIGHT FOREST  S4050-B70G     0  121  105  #007969

[704 rows x 7 columns]

In [72]:
df_sorted.to_csv("576_exterior_colours_with_hex.csv", index=False)